@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Space+Grotesk:wght@600;700&display=swap');

:root {
  --font-heading: 'Space Grotesk', sans-serif;
  --font-inter: 'Inter', sans-serif;
}

body {
  margin: 0;
  padding: 0;
}
